image: docker:24.0.5

services:
  - docker:24.0.5-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_BUILDKIT: 1
  IMAGE_NAME: startia-functional-analysis-agent
  IMAGE_TAG: latest

stages:
  - build

before_script:
  - docker info

build_image:
  stage: build
  rules:
    - changes:
      - "README.md"
      when: never
    - if: '$CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event"'
      exists:
        - Dockerfile
  script:
    - |
      echo "Cambios relevantes detectados, construyendo imagen Docker..."
      echo "$CI_REGISTRY_TOKEN" | docker login registry.gitlab.com -u "$CI_REGISTRY_USER" --password-stdin
      docker build -t "$IMAGE_NAME:$IMAGE_TAG" .
      docker tag "$IMAGE_NAME:$IMAGE_TAG" "registry.gitlab.com/ingeniaca/archiwise/application-management:$IMAGE_TAG"
      docker push "registry.gitlab.com/ingeniaca/archiwise/application-management:$IMAGE_TAG"
